.frame-14435 {
	align-items: center;
	display: flex;
	height: 144px;
	padding: 0 78px;
  }

  .group-33932 {
	align-self: flex-end;
	height: 182px;
	margin-bottom: -36px;
	margin-left: 20px;
	width: 565px;
  }

  .text-5 {
	color: white;
	letter-spacing: 0;
	line-height: 42px;
	margin-left: 71px;
	margin-top: 6.0px;
  }

  .mobile-button-banner-top {
	align-items: center;
	border-radius: 4px;
	height: 55px;
	min-width: 170px;
	padding: 0 24.5px;
	
	background: #337062;
	border: 1px solid #2CAE92;
	box-sizing: border-box;
	border-radius: 4px;
  }

  .bannertop-vector {
	height: 25px;
	width: 32px;
  }

  .bannertop-follow {
	letter-spacing: 0;
	line-height: 35px;
	margin-left: 20px;
	min-height: 35px;
	width: 78px;
  
	width: 76px;
	height: 35px;
  
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 175%;
  
	color: #6AC59F;  
  }

  .bannertop-twitterfollowbutton-mobile {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  
	width: 208px;
	height: 67px;
	margin-left: 150px;
  
	background: #337062;
	border: 1px solid #2CAE92;
	box-sizing: border-box;
	border-radius: 4px;	
  }

  .bannertop-twitterfollowbutton {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 40px;
  
	width: 208px;
	height: 67px;
	margin-left: 10px;
  
	background: #337062;
	border: 1px solid #2CAE92;
	box-sizing: border-box;
	border-radius: 4px;
  }
