.rectangle-1288 {
	background-color: #262626;
	height: 627px;
	position: absolute;
	top: 874px;
  }

  .group-33929 {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	left: 212px;
	min-height: 977px;
	position: absolute;
	top: 251px;
	width: 1170px;
  }

  .title {  
	font-size: 32px;
	line-height: 150%;
	color: #6DC5A0;
  }

  .below-text {
	color: #c4c4c4;
	letter-spacing: 0;
	line-height: 42px;
	margin-top: 25px;
	min-height: 126px;
	width: 444px;
  
	font-family: 'Libre Franklin';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 175%;
	color: #C4C4C4;
  }

  .group-33952 {
	align-items: flex-start;
	display: flex;
	height: 465px;
	left: 703px;
	min-width: 632px;
	position: absolute;
	top: 60px;
  }

  .group-33949 {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 465px;
	width: 283px;
  }

  .group-33964 {
	align-items: flex-start;
	background-position: 50% 50%;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	margin-right: 0.11px;
	min-width: 282px;
  }

  .group-33959 {
	align-items: flex-end;
	background-size: 100% 100%;
	display: flex;
	height: 270px;
	margin-top: -0.01px;
	min-width: 283px;
	padding: 4.6px 27.7px;
  }

  .overlap-group-2 {
	height: 242px;
	position: relative;
	width: 227px;
  }

  .ellipse-14 {
	height: 47px;
	left: 0;
	position: absolute;
	top: 195px;
	width: 227px;
  }

  .layer-2er-1 {
	height: 230px;
	left: 20px;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 188px;
  }

  .overlap-group1 {
	height: 170px;
	margin-right: 0.59px;
	margin-top: 25px;
	position: relative;
	width: 268px;
  }
  
  .group-33948 {
	align-items: center;
	display: flex;
	flex-direction: column;
	left: 0;
	min-height: 170px;
	position: absolute;
	top: 0;
	width: 268px;
  }
  
  .eth-bot-statue {
	color: #E2E0E7;
	font-family: 'Space Mono';
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0;
	line-height: 42px;
	margin-left: 2.0px;
	min-height: 42px;
	text-align: center;
	white-space: nowrap;
	width: 270px;
  }

  .text-6 {
	color: transparent;
	font-family: var(--font-family-libre_franklin);
	font-size: var(--font-size-xxxxl);
	letter-spacing: 0;
	line-height: 28.1px;
	margin-left: 2.0px;
	margin-top: 7px;
	min-height: 54px;
	text-align: center;
	width: 270px;
  }

  .group-33948-1 {
	height: 465px;
	margin-left: 66px;
	margin-top: -4.26px;
	width: 283px;
  }

  .vector-1 {
	height: 10px;
	left: 1273px;
	position: absolute;
	top: 480px;
	width: 10px;
  }

  .fasfa-info-circle {
	height: 10px;
	left: 244px;
	position: absolute;
	top: 125px;
	width: 10px;
  }