.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700|Libre+Franklin:400,600|Miriam+Libre:400");

.headerLink {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 175%;
  color: green;
}


.color-overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.3);
  pointer-events: none;
}

/* .intro {
  background-color: #343a39;
    height: 889px;
    mix-blend-mode: multiply;
    width: 1440px;
} */

.intro-header {
    /* The Greatest Larp has Begun */

  position: absolute;
  width: 1168px;
  height: 206px;
  left: 153px;
  top: 250px;

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: bold;
  font-size: 111px;
  line-height: 92.5%;
  /* or 103px */

  color: #6AC59F;
}

.intro-text {
  color: var(--green-sheen-2);
  font-family: var(--font-family-space_mono);
  font-size: var(--font-size-m);
  letter-spacing: 0;
  line-height: 102.7px;
  min-height: 206px;
  width: 1170px;
}

.ethbotbegins-comic {
  /* Group 33928 */

position: absolute;
width: 342px;
height: 509.04px;
left: 850px;
top: 427px;

}

.intro-countdown {
    /* 16d 10h 16m */

  position: absolute;
  width: 523px;
  height: 48px;
  left: 166px;
  top: 646px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */

  color: #6DC5A0;
}

.v2 {
  background-color: rgba(0, 0, 0, 0.65);
  overflow: hidden;
}

.overlap-group8 {
  min-height: 1501px;
}

.overlap-group-1 {
  min-height: 890px;
  left: 0;
  position: absolute;
  top: 0;
}

.nav-view-slider {
  width: 100vh;
}

.v2 .overlap-group-1-nav {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 1558px;
}

.v2 .introBackground {
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.v2 .introBackgroundCover-nav {
  height: 100vh;
  width: 200px;
  position: fixed;
}

.v2 .introBackground-nav {
  height: 100vh;
  width: 100vh;
  position: fixed;
}

.v2 .rectangle-923-nav {
  background-color: #343a39;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
}

.rectangle-923 {
  background-color: #343a39;
  height: 889px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
}



.group-33927 {
  left: 1000px;

}

.largeHeadLargeMedium {
  
  left: 0px;
  position: absolute;
  top: 0px;
  width: 269px;
  height: 155px;
/* 
  position: absolute;
  height: 67px;
  left: 190px;
  top: 210px; */
}

.largeHeadSmall {
  height: 45px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 150px;
}

.infront {
  z-index: 999;
}

.nav-gitcoin-margin {
  margin-top: 300px;
}

.smallerNavFont {
  font-size: 16px;
  line-height: 175%;
}

.top-navbar-text-style {
  color: #6DC5A0;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: normal;
}

.ant-drawer-body {
  padding: 0;
  margin-top: 0;
}

.group-33970 {
  height: 26px;
}

.navbar-text {
  color: #6DC5A0 !important;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 175%;
}

.menuIconSmall {
  width: 40px;
  height: 40px;
  z-index: 100;
}


.v2 .x16d-10h-16m {
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  white-space: nowrap;

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 150%;

  color: #6DC5A0;
}

.v2 .btn {
  align-items: center;
  background-color: var(--casal);
  border-radius: 4px;
  display: flex;
  height: 67px;
  justify-content: flex-end;
  left: 225px;
  min-width: 208px;
  padding: 0 43.5px;
  position: absolute;
  top: 733px;
}





.title-line {
  color: #6AC59F;
  font-family: 'Space Mono';
  font-size: 40px;
  letter-spacing: 0;
  line-height: 102.7px;
  min-height: 206px;
  
  font-style: normal;
  font-weight: bold;
  line-height: 92.5%;
  z-index: 999;
}

.intro-info {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: normal;
  color: #C4C4C4;
}

.v2 .group-33928 {
  height: 537px;
  width: 372px;
}



















.twitter-follow-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 40px;

  width: 208px;
  height: 67px;

  background: #337062;
  border: 1px solid #2CAE92;
  box-sizing: border-box;
  border-radius: 4px;
}

.v2 .btn-1 {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 67px;
  justify-content: flex-end;
  min-width: 208px;
  padding: 16px 40px;

  border: 1px solid #2CAE92;
  box-sizing: border-box;
  border-radius: 4px;


  /* 0.01 ETH */

  position: static;
  width: 98px;
  height: 35px;
  left: 55px;
  top: 16px;

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 175%;
  /* identical to box height, or 35px */
  text-align: center;

  color: #6AC59F;

  


}

.v2 .x-eth {
  color: var(--green-sheen-2);
  font-family: var(--font-family-space_mono);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 35px;
  min-height: 35px;
  min-width: 100px;
  text-align: center;
  white-space: nowrap;
}



.span0 {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 117%;
  /* or 28px */
  text-align: center;

  /* grey/100 */
  color: #E2E0E7;


}

.v2 .span {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 117%;
  /* or 28px */
  text-align: center;

  /* grey/100 */
  color: #E2E0E7;
}

.v2 .span2 {
  color: #d44d6e;
  font-family: 'Libre Franklin';
  line-height: 25.7px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.v2 .overlap-group9 {
  height: 1845px;
  margin-left: -119px;
  position: relative;
}

.v2 .overlap-group2 {
  background-size: 100% 100%;
  height: 1014px;
  left: 119px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.v2 .bg {
  height: 1014px;
  left: 0;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  width: 1440px;
}

.v2 .rectangle-1328 {
  background-color: #ea1e5047;
  height: 65px;
  left: 0;
  position: absolute;
  top: 846px;
  width: 1440px;
}

.v2 .text-7 {
  color: var(--white);
  font-family: var(--font-family-space_mono);
  font-size: var(--font-size-xxxl);
  left: 357px;
  letter-spacing: 0;
  line-height: 34.5px;
  position: absolute;
  top: 861px;
  white-space: nowrap;
}

.v2 .group-33968 {
  align-items: flex-start;
  display: flex;
  height: 510px;
  left: 111px;
  min-width: 1217px;
  position: absolute;
  top: 235px;
}

.v2 .group-33951 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 510px;
  width: 343px;
}

.v2 .group-33964-1 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  min-width: 344px;
}

.v2 .group-33957 {
  height: 328px;
  margin-top: -0.09px;
  width: 344px;
}

.v2 .overlap-group-3 {
  height: 170px;
  margin-left: 7.14px;
  margin-top: 12px;
  position: relative;
  width: 272px;
}

.v2 .group-15151 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 170px;
  position: absolute;
  top: 0;
  width: 272px;
}

.v2 .eth-bot-statue-1 {
  color: var(--bon-jour);
  font-family: var(--font-family-space_mono);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 42px;
  margin-right: 2.0px;
  min-height: 42px;
  text-align: center;
  white-space: nowrap;
  width: 270px;
}

.v2 .btn-3 {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 67px;
  justify-content: flex-end;
  margin-right: 4.0px;
  min-width: 208px;
  padding: 0 53px;
}

.v2 .text-8 {
  color: transparent;
  font-family: var(--font-family-libre_franklin);
  font-size: var(--font-size-xxxxl);
  letter-spacing: 0;
  line-height: 28.1px;
  margin-right: 2.0px;
  margin-top: 7px;
  min-height: 54px;
  text-align: center;
  width: 270px;
}

.v2 .fasfa-info-circle-1 {
  height: 10px;
  left: 242px;
  position: absolute;
  top: 122px;
  width: 11px;
}

.v2 .group-33966 {
  height: 510px;
  margin-left: 90px;
  width: 351px;
}

.v2 .overlap-group-4 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 510px;
  justify-content: flex-end;
  margin-left: 90px;
  min-width: 344px;
  padding: 38px 73.9px;
}

.v2 .fasfa-info-circle-2 {
  height: 10px;
  width: 10px;
}

.v2 .lorem-ipsum {
  left: 160px;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 89px;
  width: 667px;
}

.v2 .overlap-group3 {
  height: 126px;
  left: 493px;
  position: absolute;
  top: 192px;
  width: 130px;
}

.v2 .star-3 {
  height: 117px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 120px;
}

.v2 .star-2 {
  height: 117px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 120px;
}

.v2 .new {
  color: var(--black);
  font-family: var(--font-family-space_mono);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  left: 50px;
  letter-spacing: 0;
  line-height: 38.5px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
}







.v2 .group-33931 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 444px;
  position: absolute;
  top: 0;
  width: 1112px;
}

.v2 .text-9 {
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  white-space: nowrap;
}













.v2 .name {
  color: var(--bon-jour);
  font-family: var(--font-family-miriam_libre);
  font-size: var(--font-size-l);
  letter-spacing: 0;
  line-height: 27px;
  min-height: 27px;
  white-space: nowrap;
}





.v2 .text-1 {
  left: 15px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 10px;
  width: 289px;
}




.v2 .group-33933 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 14px;
  min-height: 280px;
  position: absolute;
  top: 127px;
  width: 310px;
}

.v2 .flex-row {
  align-items: flex-end;
  display: flex;
  margin-right: 24.0px;
  min-width: 252px;
}

.v2 .overlap-group {
  height: 148px;
  margin-right: 6.0px;
  margin-top: 7px;
  position: relative;
  width: 304px;
}

.v2 .group-33935 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 784px;
  min-height: 280px;
  position: absolute;
  top: 127px;
  width: 310px;
}

.v2 .name-1 {
  color: #e6fff9;
  font-family: var(--font-family-miriam_libre);
  font-size: var(--font-size-l);
  letter-spacing: 0;
  line-height: 27px;
  min-height: 27px;
  white-space: nowrap;
}

.v2 .text-16 {
  left: 0;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 238px;
  white-space: nowrap;
}

.v2 .faq {
  align-items: flex-start;
  display: flex;
  height: 734px;
  min-width: 1442px;
}

.v2 .background {
  background-color: var(--casal);
  border-radius: 4px;
  height: 59px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 1112px;
}

.v2 .address {
  left: 36px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
  width: 527px;
}

.v2 .background-3 {
  background-color: var(--casal);
  border-radius: 4px;
  height: 189px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 1112px;
}

.v2 .address-1 {
  color: var(--white);
  font-family: var(--font-family-space_mono);
  font-size: var(--font-size-xxxxl);
  left: 36px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
  width: 527px;
}

.v2 .text-21 {
  left: 32px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 79px;
  width: 1005px;
}

.v2 .text-22 {
  color: var(--white);
  font-family: var(--font-family-space_mono);
  font-size: 42px;
  left: 1049px;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 38px;
}

.v2 .address-2 {
  left: 36px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
  width: 527px;
}

.v2 .frame-14437-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  min-height: 116px;
  width: 916px;
}

.v2 .frame-14436 {
  height: 64px;
  width: 550px;
}

.v2 .text-19 {
  color: transparent;
  font-family: var(--font-family-libre_franklin);
  font-size: var(--font-size-xl);
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2.0px;
  margin-top: 17px;
  min-height: 35px;
  white-space: nowrap;
  width: 918px;
}

.v2 .span-2 {
  text-decoration: underline;
}

.v2 .span8 {
  color: var(--emerald);
}

.v2 .span12 {
  color: var(--ice-cold);
  font-weight: 600;
}

/* sidebar Nav */

.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: darkcyan;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

/* a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: #3fffd2;
  text-transform: uppercase;
  font-weight: bold;
} */

.menuNav li:first-child {
  margin-top: 7rem;
}