.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700|Libre+Franklin:400,600|Miriam+Libre:400");

.intro-background {
	background: 
	  linear-gradient(
    rgba(26, 25, 25, 0.9), rgba(26, 25, 25, 0.9)
	  ),
	  url('../src/assets/intro-background.png');
  }


.headerLink {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 175%;
  color: green;
}


.color-overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.3);
  pointer-events: none;
}

.intro-header {
  position: absolute;
  width: 1168px;
  height: 206px;
  left: 153px;
  top: 250px;

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: bold;
  font-size: 111px;
  line-height: 92.5%;
  /* or 103px */

  color: #6AC59F;
}

.intro-text {
  color: var(--green-sheen-2);
  font-family: var(--font-family-space_mono);
  font-size: var(--font-size-m);
  letter-spacing: 0;
  line-height: 102.7px;
  min-height: 206px;
  width: 1170px;
}

.ethbotbegins-comic {
  /* Group 33928 */

position: absolute;
width: 342px;
height: 509.04px;
left: 850px;
top: 427px;

}

.intro-drawerbackground {
  position: absolute;
  width: 338.28px;
  height: 585.96px;
  top: 0px;

  background: #353A39;
  mix-blend-mode: multiply;
}

.intro-countdowntime {
  position: absolute;
  width: 523px;
  height: 48px;
  left: 166px;
  top: 646px;

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 150%;

  color: #6DC5A0;
  z-index: 999;
}

.v2 {
  background-color: rgba(0, 0, 0, 0.65);
  overflow: hidden;
}

.overlap-group8 {
  min-height: 1000px;
}
body .min-h-intro{
    min-height: 690px;
}
.overlap-group-1 {
  min-height: 890px;
  left: 0;
  position: absolute;
  top: 0;
}

.nav-view-slider {
  width: 100vh;
}

.v2 .overlap-group-1-nav {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 1558px;
}

.v2 .introBackground {
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.v2 .introBackgroundCover-nav {
  height: 100vh;
  width: 200px;
  position: fixed;
}

.v2 .introBackground-nav {
  height: 100vh;
  width: 100vh;
  position: fixed;
}

.intro-overlay-mobile {
  position: absolute;
  width: 1000px;
  height: 1200px;
  top: 0px;

  background: #353A39;
  mix-blend-mode: multiply;
}

.intro-overlay {
  position: absolute;
  background: #353A39;
}

.largeHeadLargeMedium {
  
  left: 0px;
  position: absolute;
  top: 0px;
  width: 269px;
  height: 155px;
}

.largeHeadSmall {
  height: 45px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 150px;
}

.infront {
  z-index: 999;
}

.nav-gitcoin-margin {
  margin-top: 300px;
}

.smallerNavFont {
  font-size: 16px;
  line-height: 175%;
}

.top-navbar-text-style {
  color: #6DC5A0;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: normal;
}

.ant-drawer-body {
  padding: 0;
  margin-top: 0;
}

.group-33970 {
  height: 26px;
}

.navbar-text {
  color: #6DC5A0 !important;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 175%;
}

.menuIconSmall {
  width: 40px;
  height: 40px;
  z-index: 100;
}


.intro-countdowntime-mobile {
  position: absolute;
  height: 32px;

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 150%;

  color: #6DC5A0;
}

.intro-title-line-small {
  color: #6AC59F;
  font-family: 'Space Mono';
  letter-spacing: 0;
  
  font-style: normal;
  font-weight: bold;
  z-index: 999;
}

.intro-title-line {
  /* The Greatest Larp has Begun */

  position: absolute;
  height: 206px;
  left: 153px;
  top: 250px;

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: bold;
  font-size: 111px;
  line-height: 92.5%;

  color: #6AC59F;
}

.intro-title-text {
  /* Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text . */

  position: absolute;
  width: 550.26px;
  height: 126px;
  left: 166px;
  top: 482px;

  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 175%;
  /* or 42px */

  color: #C4C4C4;
}

.ethbot-head {
  position: absolute;
  width: 267.03px;
  height: 152.5px;
  left: 60px;
  top: 47px;
}

.intro-nav {
  position: absolute;
  width: 348px;
  height: 509px;
  left: 851px;
  top: 227px;
}

.intro-info {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: normal;
  color: #C4C4C4;
}

.comic-issue {
/* Group 427318183 */

position: absolute;
width: 348px;
height: 509px;
left: 851px;
top: 227px;

}

.twitter-follow-btn-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 40px;

  width: 195px;
  height: 60px;

  background: #337062;
  border: 1px solid #2CAE92;
  box-sizing: border-box;
  border-radius: 4px;
}

.twitter-follow-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;

  position: absolute;
  width: 208px;
  height: 67px;
  left: 166px;
  top: 732px;

  background: #337062;
  border: 1px solid #2CAE92;
  box-sizing: border-box;
  border-radius: 4px;
}

.v2 .btn-1 {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 67px;
  justify-content: flex-end;
  min-width: 208px;
  padding: 16px 40px;

  border: 1px solid #2CAE92;
  box-sizing: border-box;
  border-radius: 4px;


  /* 0.01 ETH */

  position: static;
  width: 98px;
  height: 35px;
  left: 55px;
  top: 16px;

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 175%;
  /* identical to box height, or 35px */
  text-align: center;

  color: #6AC59F;

  


}

.v2 .x-eth {
  color: var(--green-sheen-2);
  font-family: var(--font-family-space_mono);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 35px;
  min-height: 35px;
  min-width: 100px;
  text-align: center;
  white-space: nowrap;
}



.span0 {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 117%;
  /* or 28px */
  text-align: center;

  /* grey/100 */
  color: #E2E0E7;


}

.v2 .span {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 117%;
  /* or 28px */
  text-align: center;

  /* grey/100 */
  color: #E2E0E7;
}

.v2 .span2 {
  color: #d44d6e;
  font-family: 'Libre Franklin';
  line-height: 25.7px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.v2 .overlap-group9 {
  height: 1845px;
  margin-left: -119px;
  position: relative;
}









.v2 .group-33957 {
  height: 328px;
  margin-top: -0.09px;
  width: 344px;
}













.v2 .group-33931 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 444px;
  position: absolute;
  top: 0;
  width: 1112px;
}

.v2 .text-9 {
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  white-space: nowrap;
}













.v2 .name {
  color: var(--bon-jour);
  font-family: var(--font-family-miriam_libre);
  font-size: var(--font-size-l);
  letter-spacing: 0;
  line-height: 27px;
  min-height: 27px;
  white-space: nowrap;
}





.v2 .text-1 {
  left: 15px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 10px;
  width: 289px;
}




.v2 .group-33933 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 14px;
  min-height: 280px;
  position: absolute;
  top: 127px;
  width: 310px;
}

.v2 .flex-row {
  align-items: flex-end;
  display: flex;
  margin-right: 24.0px;
  min-width: 252px;
}

.v2 .overlap-group {
  height: 148px;
  margin-right: 6.0px;
  margin-top: 7px;
  position: relative;
  width: 304px;
}

.v2 .group-33935 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 784px;
  min-height: 280px;
  position: absolute;
  top: 127px;
  width: 310px;
}

.v2 .name-1 {
  color: #e6fff9;
  font-family: var(--font-family-miriam_libre);
  font-size: var(--font-size-l);
  letter-spacing: 0;
  line-height: 27px;
  min-height: 27px;
  white-space: nowrap;
}

.v2 .text-16 {
  left: 0;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 238px;
  white-space: nowrap;
}

.v2 .faq {
  align-items: flex-start;
  display: flex;
  height: 734px;
  min-width: 1442px;
}

.v2 .background {
  background-color: var(--casal);
  border-radius: 4px;
  height: 59px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 1112px;
}

.v2 .address {
  left: 36px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
  width: 527px;
}

.v2 .background-3 {
  background-color: var(--casal);
  border-radius: 4px;
  height: 189px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 1112px;
}

.v2 .address-1 {
  color: var(--white);
  font-family: var(--font-family-space_mono);
  font-size: var(--font-size-xxxxl);
  left: 36px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
  width: 527px;
}

.v2 .text-21 {
  left: 32px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 79px;
  width: 1005px;
}

.v2 .text-22 {
  color: var(--white);
  font-family: var(--font-family-space_mono);
  font-size: 42px;
  left: 1049px;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 38px;
}

.v2 .address-2 {
  left: 36px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
  width: 527px;
}

.v2 .frame-14437-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  min-height: 116px;
  width: 916px;
}

.v2 .frame-14436 {
  height: 64px;
  width: 550px;
}

.v2 .text-19 {
  color: transparent;
  font-family: var(--font-family-libre_franklin);
  font-size: var(--font-size-xl);
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2.0px;
  margin-top: 17px;
  min-height: 35px;
  white-space: nowrap;
  width: 918px;
}

.v2 .span-2 {
  text-decoration: underline;
}

.v2 .span8 {
  color: var(--emerald);
}

.v2 .span12 {
  color: var(--ice-cold);
  font-weight: 600;
}

/* sidebar Nav */

.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: darkcyan;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

.menuNav li:first-child {
  margin-top: 7rem;
}

.intro-follow-mobile {
	width: 76px;
	height: 35px;
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 175%;
	color: #6AC59F;  
}